{%extends 'base.html' %}

{% block content %}

<head>
 
    <style>
      body{
        background-color: #221d24;
      }
      .col-md-4{
        height: 250px;
        margin-bottom: 20px;
        
      }

      #galery1,#galery2,#galery3,#galery4,#galery5,#galery6{
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        object-fit: cover; 
        border-radius: 10px;
        
      }

    </style>
</head>

<body>
    
  

    <section class="home" style="margin-bottom: 50px;" >
      <div style="background-image: url('/static/image/background.jpeg'); background-size: cover; background-repeat: no-repeat; height: 800px; width: 100%; background-position: center; ">
        <div class=" continer col-md-6" style="padding-left: 10%; position: absolute; top: 30%; ">
            <h2 style="font-size: 5rem;">Discover fresh Italian flavors!</h2>

        

        </div>
        <div class="col-md-6" style="padding-left: 10%; position: absolute; top: 55%; ">
            <p style="font-size: xx-large;">Treat your taste buds at our Italian oasis in Izola, where every dish is a masterpiece.</p>
        </div>
        <button type="button" class="btn btn-primary btn-lg" style="margin-left: 10%; position: absolute; top: 70%; background-color: deeppink; border: none;"  >Visit us!</button>
        
      </div>
    </section>

    <section style="margin-bottom: 50px;">
        <div class="continer row col-md-12">
            <div class="col-md-6" style="padding-left: 10%;">
                <h3 style="font-size: xxx-large;">About us</h3>
                <p style="font-size: x-large;">Welcome to Primavera, a renowned restaurant located in the heart of Izola, Slovenia. With a prime location on Prešernova cesta, we offer a delightful dining experience that combines exquisite cuisine, warm hospitality, and a charming ambiance.<br><br>

                    At Primavera, we are passionate about creating memorable moments for our guests. Our talented chefs meticulously craft each dish using the finest ingredients, ensuring a culinary journey that tantalizes the taste buds. Whether you're looking for a romantic dinner, a business lunch, or a special celebration, our attentive staff is dedicated to providing exceptional service that exceeds your expectations. Come and experience the essence of Primavera, where every visit is a celebration of flavors and a feast for the senses.</p>
            </div>
            <div class="col-md-6" >
              <img alt="about us" src="/static/image/about us.webp" style="width: 100%; object-fit: contain; border-radius: 10px;">
            </div>

        </div>
    </section>

    <section style="margin-bottom: 50px;">
      <div  style="text-align: center; height: 500px; background-image: url(/static/image/visit.webp); background-size: cover; background-repeat: no-repeat; width: 100%; background-position: center;">
        <h2 style="font-size: 5rem; position: relative; top: 30%; left: 25%;  width: 50%;">Experience authentic Mediterranean cuisine</h2>
        <button class="btn btn-primary btn-lg" style="position: relative; top: 40%; background-color: deeppink; border: none;">Visit us</button>
      </div>
    
    </section>
    <section>
      <div class="container row" style="margin: auto;">
        <div class="col-md-4" >
          <img id="galery1" alt="nesto" src="/static/image/galery1.webp">
        </div>
        <div class="col-md-4" >
          <img id="galery2" alt="nesto"  src="/static/image/galery2.webp">
        </div>
        <div class="col-md-4" >
          <img id="galery3" alt="nesto"  src="/static/image/galery3.webp">
        </div>
        <div class="col-md-4">
          <img id="galery4" alt="nesto"  src="/static/image/galery4.webp">
        </div>
        <div class="col-md-4">
          <img id="galery5" alt="nesto"  src="/static/image/galery5.webp">
        </div>
        <div class="col-md-4">
          <img id="galery6" alt="nesto"  src="/static/image/galery6.webp">
        </div>
      </div>
    </section>

    <section>
      <div class="container row">
        <h3>Services</h3>
        <div class="col-md-4">
          <img src="/static/image/">
          <p>Paragraf</p>
        </div>
      </div>
    </section>
   
</body>

{% endblock %}