{%extends 'base.html' %}

{% block content %}


<style>
    body {
        background-color: #221d24;
    }

    .col-md-4 {
        height: 550px;
        margin-bottom: 20px;

    }

    .card {
        height: 250px;
    }

    #galery1,
    #galery2,
    #galery3,
    #galery4,
    #galery5,
    #galery6 {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;

    }
</style>




<section style="margin-top: 50px; margin-bottom: 50px;">
    <h2 style="margin-left: 50%; margin-bottom: 50px;">Menu</h2>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        Filter
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
               Apply filters for food type, price...
            </div>
<form method="get">
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown">
                    Category
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Pizza</a></li>
                    <li><a class="dropdown-item" href="#">Another option</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div>
            <button class="button btn-primary" type="submit">Apply filters</button>
        </div>
    </form>
    </div>
    <div class="container row" style="margin: auto; position: relative;">
        {%for art in menu %}
        <div class="col-md-4">
            <form method="post">
                <div class="card" style="width: 18rem;">
                    <img id="galery1" src="{{art.Slika}}" class="img-thumbnail" alt="...">

                    <div class="card-body">
                        <h5 class="card-title" style="color: white;">{{art.Naziv}}</h5>
                        <p class="card-text">{{art.Opis}}</p>
                        <p class="card-text">${{art.Cena}}</p>

                        <input type="hidden" name="product_id" value="">
                        <input type="submit" class="btn btn-primary" name="add" value="Add to cart">


                    </div>

                </div>
            </form>
        </div>
        {%endfor%}




    </div>
</section>

{% endblock %}