<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

</head>

<body>
    <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="card" style="width: 18rem;">
                <img src="/static/image/galery1.webp" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Naslov</h5>
                    <p class="card-text">Opis</p>
                    <p class="card-text">Cena</p>
                  
                    <input type="hidden" name="product_id" value="">
                    <input type="submit" class="btn btn-primary"  name="add" value="Add to cart">


                </div>

            </div>
        </form>
    </div>
</div>
</body>

</html>